<div class="toolbar" role="banner">
  <div>
    <!-- <img width="" alt="" src="" /> -->
  </div>
  <span>EsTim</span>
  <nav>
    <ul>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          <i class="fas fa-home"></i> Home
        </a>
      </li>
      <!-- <li><a routerLink="/game-list">Game List</a></li>
      <li><a routerLink="/game-form">Game Form</a></li>
      <li><a routerLink="/sell-form">Sell Form</a></li>
      <li><a routerLink="/lend-form">Lend Form</a></li> -->
    </ul>
  </nav>

  <!-- Botones de género -->
  <button type="button" class="btn btn-info btn-sm ml-2" (click)="filterByGenre('Adventure')">Adventure</button>
  <button type="button" class="btn btn-info btn-sm ml-2" (click)="filterByGenre('Action')">Action</button>
  <button type="button" class="btn btn-info btn-sm ml-2" (click)="filterByGenre('Strategy')">Strategy</button>
  <!-- Agrega más botones según tus géneros -->

  <button type="button" class="btn btn-danger btn-sm ml-auto" (click)="navigateToGameForm()">
    Cargar Juegos
  </button>

</div>