<div class="toolbar" role="banner">
  <span class="main-title">EsTim</span>
  <nav>
    <ul>
      <a class="nav-link" routerLink="/" style="display: flex; align-items: center;">
        <img src="../../../../assets/img/gaming.png" alt="Icono Home"
          style="width: 0.9cm; height: 0.9cm; margin-right: 0.2cm; margin-top: 10px;">
        <p style="margin: 0;">Home</p>
      </a>
    </ul>
  </nav>

  <div class="toolbar-buttons"> <!-- Nuevo contenedor para los botones -->
    <button type="button" class="btn btn-info btn-sm" (click)="filterByGenre('Adventure')">Adventure</button>
    <button type="button" class="btn btn-info btn-sm" (click)="filterByGenre('Action')">Action</button>
    <button type="button" class="btn btn-info btn-sm" (click)="filterByGenre('Strategy')">Strategy</button>
  </div>
  <button type="button" class="btn btn-danger btn-sm ml-auto" style="margin-left: 10px; margin-right: 10px;"
    (click)="navigateToGameForm()">
    Cargar Juegos
  </button>
</div>