<div class="toolbar" role="banner">
  <span>EsTim</span>
  <nav>
    <ul>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          <i class="fas fa-home"></i> Home
        </a>
      </li>
    </ul>
  </nav>
  <div class="toolbar-buttons"> <!-- Nuevo contenedor para los botones -->
    <button type="button" class="btn btn-info btn-sm" (click)="filterByGenre('Adventure')">Adventure</button>
    <button type="button" class="btn btn-info btn-sm" (click)="filterByGenre('Action')">Action</button>
    <button type="button" class="btn btn-info btn-sm" (click)="filterByGenre('Strategy')">Strategy</button>
  </div>
  <button type="button" class="btn btn-danger btn-sm ml-auto" style="margin-left: 10px; margin-right: 10px;"
    (click)="navigateToGameForm()">
    Cargar Juegos
  </button>
</div>