<div class="content" role="main">
  <h2>Vender Juego</h2>
  <form (submit)="submitForm()">
    <!-- <div class="form-group">
      <label for="game">Juego:</label>
      <select id="game" name="game" [(ngModel)]="sale.game" class="form-control" required>
        <option *ngFor="let game of gameList" [value]="game.id">{{ game.name }}</option>
      </select>
    </div> -->

    <div class="form-group">
      <label for="buyerName">Nombre del Comprador:</label>
      <input type="text" id="buyerName" name="buyerName" [(ngModel)]="sale.buyerName" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="price">Precio de Venta:</label>
      <input type="text" id="price" name="price" [(ngModel)]="sale.price" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="paymentMethod">Método de Pago:</label>
      <select id="paymentMethod" name="paymentMethod" [(ngModel)]="sale.paymentMethod" class="form-control" required>
        <option value="efectivo">Efectivo</option>
        <option value="tarjeta_credito">Tarjeta de Crédito</option>
      </select>
    </div>

    <br>
    <button type="submit" class="btn btn-success">Vender</button>
  </form>
</div>