/* game-card.component.css */
.game-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .price {
    color: #e44d26;
    font-weight: bold;
  }

  .card-title {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  img.card-img-top:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }

  .btn-primary:hover,
  .btn-success:hover {
    filter: brightness(90%);
  }

  .game-name {
    margin-bottom: 10px;
    font-size: 2.5em;
    color: #333;
  }

  .name-divider {
    border-top: 1px solid #ccc;
    margin-top: 5px;
  }
}

